<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.dhinakg.USBToolBox.map</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UTBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>4:0:3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dhinakg.USBToolBox.kext</string>
			<key>IOClass</key>
			<string>USBToolBox</string>
			<key>IOMatchCategory</key>
			<string>USBToolBox</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>pcidebug</key>
				<string>4:0:3</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				BgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>4:0:4</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dhinakg.USBToolBox.kext</string>
			<key>IOClass</key>
			<string>USBToolBox</string>
			<key>IOMatchCategory</key>
			<string>USBToolBox</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>pcidebug</key>
				<string>4:0:4</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				BgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.dhinakg.USBToolBox.kext</key>
		<string>1.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
